.box_wrapper {
  background-color: rgb(36, 36, 36);
  color: rgb(255, 255, 255);
}
.box_wrapper {
  align-items: center;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
  padding: 8px;
  position: relative;
}
.box_wrapper .box-left {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding-left: 24px;
  position: relative;
  width: 180px;
}
.box_wrapper .box-right {
  border-radius: 8px;
  flex: 1 1;
  padding: 24px;
  position: relative;
}

.box-right {
  background: rgba(58, 58, 58, 0.67);
}
.corner_badge {
  background: #2bc532;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 11px;
  color: #fff;
  font-size: 12px;
  padding: 2px 6px;
  position: absolute;
  right: 0;
  top: 0;
}
.amount_heading {
  color: rgb(2, 255, 1);
}
.amount_heading, .coupon_code {
  margin-bottom: 0;
  position: relative;
  z-index: 3;
}

.amount_heading {
  color: #335835;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.3rem;
}
.coupon_code {
  color: #81858c;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}
.amount_heading, .coupon_code {
  margin-bottom: 0;
  position: relative;
  z-index: 3;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.gift_icon_wrapper {
  color: rgb(66, 63, 63);
}
.gift_icon_wrapper {
  bottom: 0;
  bottom: -14px;
  font-size: 3rem;
  opacity: .6;
  position: absolute;
  right: 7px;
}

.align-items-center {
  align-items: center !important;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1* var(--bs-gutter-y));
  margin-right: calc(-.5* var(--bs-gutter-x));
  margin-left: calc(-.5* var(--bs-gutter-x));
}
.box_heading {
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-end {
  text-align: right !important;
}

.fs-14 {
  font-size: 14px !important;
}

.custom_btn_outline {
  background-color: initial;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  height: 44px;
  line-height: 44px;
  outline: 0;
  overflow: hidden;
  padding: 10px 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  transition: all .4s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  background-color: transparent;
  border: 1px solid rgb(2, 255, 1);
  color: rgb(255, 255, 255);
  z-index: 9;
}
a {
  text-decoration: none;
}
.amount_heading {
  color: rgb(2, 255, 1);
}
.heading {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: .3px;
  line-height: 24px;
  margin-bottom: 1rem;
}
.mb-1 {
  margin-bottom: .25rem !important;
}
.mob-font {
  font-size: 13px;
}
.text-muted {
  --bs-text-opacity: 1;
  color: #6c757d !important;
}
.highlighted_card {
  background: rgb(46, 73, 46);
}
.highlighted_card {
  align-items: center;
  border-radius: 16px;
  cursor: pointer;
  margin-bottom: 24px;
  margin-top: 24px;
  padding: 6px 35px;
}
.align-items-center {
  align-items: center !important;
}
.highlighted_card_text {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
}
.text-green {
  color: rgb(2, 255, 1) !important;
}
.text-green {
  color: #02ff01;
}
.sub_description {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
}
.text-end {
  text-align: right !important;
}
.reward_img {
  width: 100px;
}

.text-end a:hover{
  color: black;
  background-color: #02ff01; 
}